[submodule "phoenix-rtos-kernel"]
	path = phoenix-rtos-kernel
	url = https://github.com/phoenix-rtos/phoenix-rtos-kernel
[submodule "libphoenix"]
	path = libphoenix
	url = https://github.com/phoenix-rtos/libphoenix
[submodule "phoenix-rtos-build"]
	path = phoenix-rtos-build
	url = https://github.com/phoenix-rtos/phoenix-rtos-build.git
[submodule "phoenix-rtos-devices"]
	path = phoenix-rtos-devices
	url = https://github.com/phoenix-rtos/phoenix-rtos-devices
[submodule "phoenix-rtos-filesystems"]
	path = phoenix-rtos-filesystems
	url = https://github.com/phoenix-rtos/phoenix-rtos-filesystems
[submodule "phoenix-rtos-coreutils"]
	path = phoenix-rtos-coreutils
	url = https://github.com/phoenix-rtos/phoenix-rtos-coreutils
[submodule "phoenix-rtos-hostutils"]
	path = phoenix-rtos-hostutils
	url = https://github.com/phoenix-rtos/phoenix-rtos-hostutils
[submodule "phoenix-rtos-usb"]
	path = phoenix-rtos-usb
	url = https://github.com/phoenix-rtos/phoenix-rtos-usb.git
[submodule "PRIME"]
	path = PRIME
	url = ssh://git.phoesys.com:29418/PRIME
[submodule "core-libs"]
	path = core-libs
	url = ssh://git.phoesys.com:29418/core-libs
[submodule "libmeter"]
	path = libmeter
	url = ssh://git.phoesys.com:29418/libmeter
[submodule "metersrv"]
	path = metersrv
	url = ssh://git.phoesys.com:29418/metersrv
[submodule "phoenix-builder"]
	path = phoenix-builder
	url = ssh://git.phoesys.com:29418/phoenix-builder
