[submodule "PRIME"]
	path = PRIME
	url = ssh://git.phoesys.com:29418/PRIME
[submodule "core-libs"]
	path = core-libs
	url = ssh://git.phoesys.com:29418/core-libs
[submodule "libmeter"]
	path = libmeter
	url = ssh://git.phoesys.com:29418/libmeter
[submodule "metersrv"]
	path = metersrv
	url = ssh://git.phoesys.com:29418/metersrv
[submodule "phoenix-builder"]
	path = phoenix-builder
	url = ssh://git.phoesys.com:29418/phoenix-builder
[submodule "msp"]
	path = msp
	url = ssh://git.phoesys.com:29418/msp
